@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground;
  font-family: 'Playfair Display', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @media (max-width: 640px) {
    .back-arrow {
      left: 12px !important;
      top: 10px !important;
    }
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
